# String Fromatting in python

In [2]:
name = "Shahid"
age = 23
print("my name is {} and i am {} year old.".format(name,age))

my name is Shahid and i am 23 year old.

In [3]:
s =  "shahid"

In [4]:
s[0]

's'

In [7]:
s.upper()

'SHAHID'

In [8]:
s

'shahid'

# String format()

In [10]:
name = "Sid"
age = 23
print("my name is {} and i am {} year old.".format(name,age))

my name is Sid and i am 23 year old.

In [11]:
print(f"my name is {name} and i am {age} year old.")

my name is Sid and i am 23 year old.

 # Expression inside f-string

In [16]:
a = 15
b = 10

In [17]:
print(f"sum of {a} and {b } is {a+b}")

sum of 15 and 10 is 25

# Formatting number

In [18]:
pi = 3.14159

In [19]:
print(f"pi roundede to 2 decimal place : {pi:.2f}")

pi roundede to 2 decimal place : 3.14

# padding and alinement

In [21]:
print(f"{'python':>10}")
print(f"{'python':<10}")
print(f"{'python':^10}")

    python
python
  python